.analytics-page {
  min-height: 100vh;

  background:
    radial-gradient(
      circle at top left,
      rgba(255, 120, 0, 0.08),
      transparent 25%
    ),
    #080808;
}

.analytics-content {
  width: 100%;
  max-width: 1600px;

  margin: 0 auto;

  padding: 50px 60px;
}

.analytics-content h1 {
  font-size: 42px;
  font-weight: 800;

  margin-bottom: 30px;
}

/* tablet */
@media (max-width: 1024px) {
  .analytics-content {
    padding: 40px 32px;
  }
}

/* mobile */
@media (max-width: 768px) {
  .analytics-content {
    padding: 28px 20px 108px;
  }

  .analytics-content h1 {
    font-size: 32px;
  }
}

/* very small devices */
@media (max-width: 480px) {
  .analytics-content {
    padding: 22px 16px;
  }

  .analytics-content h1 {
    font-size: 28px;
  }
}
