.question-form {
  margin-top: 20px;

  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.question-form input,
.question-form select {
  background: #1d1d1d;

  border: 1px solid #272727;

  color: white;

  padding: 12px;

  border-radius: 12px;
}

.question-form button {
  background: #ff8b38;

  color: white;

  padding: 12px 18px;

  border-radius: 12px;
}

.question-form {
  margin-bottom: 16px;
}