.topic-card {
  background: linear-gradient(
    180deg,
    #171717,
    #131313
  );

  border: 1px solid #252525;

  border-radius: 28px;

  padding: 28px;

  margin-bottom: 24px;

  transition: 0.25s ease;
}

.topic-card:hover {
  transform: translateY(-2px);
}

.topic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.topic-title-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.topic-title-row h3 {
  font-size: 22px;
}

.topic-count {
  background: #1f1f1f;

  border: 1px solid #2c2c2c;

  border-radius: 999px;

  padding: 8px 14px;

  color: #d6d6d6;

  font-size: 14px;
}

.topic-header p {
  margin-top: 8px;
  color: #8d8d8d;
}

.topic-btn {
  width: 48px;
  height: 48px;

  border-radius: 50%;

  background: #ff8b38;

  color: white;

  font-size: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.question-list {
  margin-top: 8px;
}

.empty-state {
  color: #8d8d8d;
  margin-top: 15px;
}

.topic-click {
  flex: 1;
  cursor: pointer;
}

.topic-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-question-btn,
.topic-btn,
.delete-btn {
  width: 48px;
  height: 48px;

  border-radius: 50%;

  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;

  cursor: pointer;
}

.add-question-btn {
  background: #23d18b;
  color: white;
}

.delete-btn {
  background: #ff4b5c;
  color: white;
}

.topic-btn {
  background: #ff8b38;
  color: white;
}